* {
  box-sizing: border-box;
}

html {
  background: url(../assets/img/a2635762742_10.jpg) 0 0/ 290px 290px repeat;
  background-attachment: fixed;
  font-size: 20px;
  color: antiquewhite;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin: 0 auto;
  height: 570px;
  margin-top: 90px;
  text-align: center;
  justify-content: center;
}

.header {
  width: 50vh;
  text-align: center;
  color: black;
  background-color: antiquewhite;
  border: 3px solid black;
  border-radius: 50px;
  margin: 0 auto;
}

.background {
  background-color: rgba(90, 90, 90, 0.95);
  border: 3px solid black;
  border-radius: 20px;
}

.link {
  color: antiquewhite;
  background-color: rgba(40, 40, 40, 0.95);
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  padding: 50px;
  margin: 0 50px;
  line-height: 400px;
}

.tlink {
  display: block;
  padding: 25px;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 1000;
}

.link:hover {
  transform: scale(1.065);
  background-color: brown;
}

td {
  border: 1px solid;
  height: 50px;
  text-align: center;
}

.td33 {
  width: calc(100% / 3);
}

.td-h {
  height: 200px;
}

table {
  border-collapse: collapse;
  margin: 50px auto;
}
.w75 {
  width: 75%;
}

.w90 {
  width: 90%;
}

.w80 {
  width: 80%;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.w28 {
  width: 28%;
}
